<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li>{{#link-to 'pokedex'}}Pokedex{{/link-to}}</li>
  </ul>
</nav>
<h1>Pokemon Map Demo</h1>
<label for="add pokemon test">poke test</label>
{{input id="addPokemon" name="some_name" value=addPokemon}}
<button name="submit" {{action 'submit'}}>submit</button>
<ul>
{{#each pokemon in model}}
  <li>{{pokemon.title}}</li>
{{/each}}
</ul>
{{
  google-map
    markerInfoWindowTemplateName='map/info-window'
    markers=model
    lat=centerLat
    lng=centerLng
    zoom=17
    type='map'
    gopt_zoomControl=false
    gopt_scrollwheel=true
    gopt_maxZoom=17
    gopt_minZoom=17
}}

{{outlet}}
